@media(max-width: 700px){
    #title{
        font-size: 30px;
    }

    marquee{
        font-size: 14px;
    }

    #main h2{
        font-size: 22px;
    }

    #selector{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #selector img{
        width: 200px;
    }

    #main p{
        font-size: 18px;
        padding: 5px 2px;
    }

    #footer{
        padding: 6px 0;
        font-size: 14px;
    }
}